body,
div,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Star+Jedi&display=swap");

:root {
  font-family: Arial, Helvetica, sans-serif;
  --dark1: #000000;
  --light1: #ffffff;
  --dark2: #1a1a1a;
  --light2: #ffcc00;
  --accent1: #ff0000;
  background-color: var(--dark1);
  color: var(--light1);
  font-family: "CustomFont";
}

body {
  background-image: url("https://example.com/star-wars-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@font-face {
  font-family: "CustomFont";
  src: url("Starjedi.ttf") format("truetype");
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Star Jedi", sans-serif;
  color: var(--light2);
}

button {
  background-color: var(--light2);
  color: var(--dark1);
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: var(--accent1);
  color: var(--light1);
}
#charactersList div:hover {
  background-color: var(--accent1);
  color: var(--light1);
  cursor: pointer;
}
input {
  display: block;
  width: 50%; /* Adjust width as needed */
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.5em;
  border: none;
  border-bottom: 2px solid var(--light2);
  outline: none;
  margin: 10px 0; /* Adjust margin for better spacing */
  background-color: var(--dark2);
  color: var(--light1);
}

label {
  font-weight: bold;
  font-size: 1.1em;
  color: var(--light2);
}

.small {
  font-size: small;
  font-weight: normal;
  color: var(--light2);
}

.heading {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Characters */
#charactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

#charactersList div {
  padding: 10px;
  margin: 10px;
  border: 1px solid var(--light2);
  border-radius: 5px;
  color: var(--dark1);
  background-color: var(--light2);
  font-weight: bold;
}

/* Character page */
h1#name {
  margin: 50px;
}

#generalInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 20px;
}

#generalInfo p {
  padding: 20px;
  margin: 10px;
  color: var(--dark1);
  background-color: var(--light2);
}

#generalInfo span {
  font-weight: bold;
  font-size: 1.1em;
}

section#planets,
section#characters,
section#films {
  margin: 50px;
}

section#planets ul,
section#characters ul,
section#films ul {
  list-style-type: none;
  padding: 0;
}

section#planets a,
section#characters a,
section#films a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.1em;
  background-color: var(--light2);
  color: var(--dark1);
  font-weight: bold;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid var(--dark2);
  transition: background-color 0.3s, color 0.3s;
}

section#planets a:hover,
section#characters a:hover,
section#films a:hover {
  background-color: var(--accent1);
  color: var(--light1);
}
